.container {
    width: calc((100% / 12 ) * 9);
    height: 40px;
    position: relative;
    left : calc((100% / 12 ) * 3);

    .pagination {
        margin:auto;
        width: fit-content;
        height: 100%;
        display: flex;
        gap : 10px;
        align-items: center;

        .page {
            padding : 2px 5px;
            background-color: transparent;
            color : black;
            border:none;
            display: block;
            text-align: center;
        }

        .active {
            border:1px solid black;
        }
    }
}

@media only screen and (max-width : 768px) {
    .container {
        width: 100%;
        left : 0;
    }
}