.container {
    width: 1200px;
    margin: 20px auto;

    .title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .crewContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap : 20px;
    }
}

@media only screen and (max-width : 768px) {
    .container {
        width: 94%;
        margin: 10px auto;
    }
}