.container {
    overflow-x: scroll;
    height: 260px;
    position: relative;
    z-index: 3;

    .scrollContainer {
        width: fit-content;
        display: flex;
        gap : 20px;
        margin: 20px;
    }
}