.container {
    overflow-x: scroll;
    height: 260px;
    position: relative;
    z-index: 3;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(219, 219, 219);
        border-radius: 10px;
    }

    .scrollContainer {
        width: fit-content;
        display: flex;
        gap : 20px;
        margin: 20px;
    }
}